body {
 	text-align: center;
 	background-color: #FFFDF4;
}

.subtitles {
	font-family: "Arial";
	font-size: 21px;
	text-align:center;
}

.information {
	font-family: "Arial";
	font-size: 18px;
	text-align:justify;
}

